.navigation {
  //background-color:$c-main-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;

  @include layoutPadding;
  @include respond(tab-port) {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      content:"";
      position:absolute;
      background:linear-gradient(to right, rgba($c-white, 0), $c-white);
      display:block;
      right:0;
      top:0;
      height:80px;
      width:40px;
      z-index:1;
    }
  }

  &__brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  }

  &__brand {
    width: 132px;

    @include respond(phone){
      width:140px;
    }
  }

  &__nav {
    display: flex;
  }

  &__nav-link {
    display: inline-block;
    color: rgba($c-main-blue, 0.57);
    transition: all 0.2s;
    position: relative;
    letter-spacing: 1px;
    white-space: nowrap;

    &--active {
      color: $c-main-blue;
    }

    &:not(:last-of-type) {
      margin-right: 50px;
    }

    @include respond (tab-port){
      &:last-of-type{
        margin-right:55px;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: 1px;
      background: $c-main-red;
    }

    &::before {
      left: 0;
    }
    &::after {
      right: 0;
      background: $c-main-red;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:hover::before {
      background: $c-main-red;
      width: 80%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:hover::after {
      background: transparent;
      width: 80%;
      transition: 0s;
    }

    &--active::before {
      width: 80%;
    }
    &--active:hover::after {
      width: 0%;
    }
  }
}
