.end-section {
    display:flex;




    &__image-container {
        width:60%;
    }

    &__image {

    }

    &__stats {
        width:39%;

    }

    &__title {

    }

    &__title-mode {

    }
}