


$fonts-path:'../../fonts/';
$font-light: $fonts-path +'light/';
$font-regular:$fonts-path + 'regular/';
$font-medium:$fonts-path + 'medium/';


/* COLORS */

$c-white:#FFFFFF;
$c-main-red:#AB1725;
$c-main-blue:#0F1C2D;
$c-main-grey:#A8A8A8;
